<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Hello</h1>
<form style="border:1px solid #ccc" action="#" th:action="@{/add}" th:object="${user}" method="post">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="name"><b>Name</b></label>
        <input id="name" type="text" placeholder="Enter your name" th:  required>
        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter email" th:field="*{user.email}" required>
        <label> <b>Address:</b></label>
        <label for="address.city"><b>City</b></label>
        <input id="address.city" type="text" placeholder="Enter city" th:field="*{user.address.city}" required>

        <label for="address.street"><b>Street</b></label>
        <input id="address.street" type="text" placeholder="Enter street" th:field="*{user.address.street}" required>

        <label for="address.suite"><b>Suite</b></label>
        <input id="address.suite" type="text" placeholder="Enter suite" th:field="*{user.address.suite}" required>

        <label for="address.zipcode"><b>Zipcode</b></label>
        <input id="address.zipcode" type="text" placeholder="Enter zipcode" th:field="*{user.address.zipcode}" required>

        <label for="phone"><b>Phone</b></label>
        <input id="phone" type="text" placeholder="Enter phone" th:field="*{user.phone}" required>

        <input type="submit" value="Save user">

    </div>
</form>
<a href="/list">Show All</a>
</body>
</html>